In [2]:
import numpy as np
import pandas as pd

In [10]:
df=pd.read_csv('data/Pokemon.csv')

In [11]:
df['range']=df.iloc[:,5:11].max(axis=1)-df.iloc[:,5:11].min(axis=1)
attribut=df[['Type 1','range']].set_index('Type 1')

In [12]:
attribut.head(10)

        range
Type 1
Grass      20
Grass      20
Grass      20
Grass      43
Fire       26
Fire       22
Fire       31
Fire       52
Fire       81
Water      22

In [18]:
max_range =0
result = ''
for i in attribut.index.unique():
    temp = attribut.loc[i].mean()
    if temp.values[0] > max_range:
        max_range = temp.values[0]
        result = i
result

'Steel'

In [20]:
df[df['Legendary']==True]['Type 1'].value_counts(normalize=True).index[0]

'Psychic'

In [21]:
attribut = df[df['Legendary']==True][['Type 1','Total']].set_index('Type 1')
attribut.head()

          Total
Type 1
Ice         580
Electric    580
Fire        580
Psychic     680
Psychic     780

In [27]:
max_value = 0
result = ''
for i in attribut.index.unique():
    temp= float(attribut.loc[i,:].mean())
    if temp> max_value:
        max_value = temp
        result = i
result

'Normal'